{% extends 'base.html' %}
{% block title%}Home{% endblock %}

{% block content %}

    <marquee><h1 class="blue-text">Hello {{ request.user }}. Browse the Categories Below!</h1></marquee>
    {% for category in object_list %}
        <br>
            <h5><span><a href="{% url 'cat_post_list' category.id %}">{{ category }}</a></span></h5>

        {% for subcategory in category.subcategory_set.all %}

           <div><a href="{% url 'subcat_detail' subcategory.id %}">{{ subcategory }}</a></div>

        {% endfor %}
    <br>
    {% endfor %}


{% endblock %}