{% extends 'base.html' %}
{% block title%}Home{% endblock %}

{% block content %}

    <marquee><h1 class="blue-text">Hello {{ request.user }}. Browse the Categories Below!</h1></marquee>
    {% for category in object_list %}
        <br>
        <table class="highlight">
           <th><a href="{% url 'cat_post_list' category.id %}">{{ category }}</a></th>

        {% for subcategory in category.subcategory_set.all %}

           <tr><td><a href="{% url 'subcat_detail' subcategory.id %}">{{ subcategory }}</a></td></tr>

        {% endfor %}
        </table>
    <br>

    {% endfor %}


{% endblock %}