{% extends 'base.html' %}
{% block title%}Post List{% endblock %}

{% block content %}
    <br>
    <div><a href="{% url 'cat_post_thumb_list' object.pk %}">Thumb View</a> /
    <a href="{% url 'cat_post_gallery_list' object.pk %}">Gallery View</a></div>
    <br>
<div class="row sorting">
    <div><a href="{% url 'cat_post_list' object.pk %}?order=price">Lowest Price</a> /
    <a href="{% url 'cat_post_list' object.pk %}?order=-price">Highest Price</a> /
    <a href="{% url 'cat_post_list' object.pk %}?order=-time_posted">Most Recent</a></div>
</div>
<table class="highlight">
    <th>Title</th>
    <th>Price</th>
    <th>City</th>
    {% for post in post_list %}
    <tr><td><a href="{% url 'post_detail' post.id %}">{{ post }}</a></td>
    <td>$ {{ post.price }}</td>
    <td>{{ post.city }}</td></tr>
    {% endfor %}
</table>

{% endblock %}

