{% extends 'base.html' %}
{% block title%}SubCat List Detail{% endblock %}

{% block content %}

<h4>{{ object.category }} / {{ object }}</h4>
    <a class="waves-effect waves-light btn-large" href="{% url 'sub_post' object.pk %}">Post Here!</a>
    <br><br>
    <div><a href="{% url 'subcat_detail' subcategory.id %}">Thumb View</a> /
    <a href="{% url 'subcat_gallery_detail' subcategory.id %}">Gallery View</a></div>
    <br>

<div class="row sorting">
    <div><a href="{% url 'subcat_list_detail' object.pk %}?order=price">Lowest Price</a> /
    <a href="{% url 'subcat_list_detail' object.pk %}?order=-price">Highest Price</a> /
    <a href="{% url 'subcat_list_detail' object.pk %}?order=-time_posted">Most Recent</a></div>
<table class="highlight">
<th>Title</th>
<th>Price</th>
    {% for post in post_list %}
        <tr><td><a href="{% url 'post_detail' post.id %}">{{ post }}</a></td>
        <td>{{ post.price }}</td></tr>
    {% endfor %}
</table>
{% endblock %}